/* Font Import */
/************************/

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap");

/* Variables */
/************************/

:root {
  --body-color-light: #5a5a5d;
  --body-color-dark: #424247;

  --color-primary: #ff5400;

  --color-dark: #131318;
  --color-white: #fff;
}

/* Basic Styles */
/************************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--body-color-light);
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

/* Reuseable Styles */
/************************/

.container {
  margin: 0 auto;
  max-width: 117rem;
  padding: 1.5rem;
}

.heading-primary {
  color: var(--color-dark);
  font-size: 4rem;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

heading-primary--center {
  text-align: center;
}

.heading-paragraph {
  max-width: 64rem;
  text-align: center;
}

.btn-primary {
  align-self: flex-start;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  padding: 1.6rem 2rem;
  text-align: center;
  transition: all 0.1s ease-out;
}

.btn-primary:hover {
  background-color: #be4b12;
}

.btn-primary--center {
  align-self: center;
}

/* Section header Styles */
/************************/

.section-header {
  margin-bottom: 10rem;
}

/* Section navigation Styles */
/************************/

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.navigation-logo {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.logo {
  max-width: 4.8rem;
}

.logo-text {
  color: var(--color-dark);
  font-size: 3.6rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.logo-text--colored {
  color: var(--color-primary);
}

.navigation-link-container {
  text-align: center;
  display: flex;
  align-items: center;
}

.navigation-list {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  list-style-type: none;
}

.mobile-navigation {
  display: none;
  font-size: 3.5rem;
  color: var(--color-dark);
}

.navigation-list-item {
  padding: 0.5rem;
}

.navigation-list-link:link,
.navigation-list-link:visited {
  color: var(--body-color-dark);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.1s ease-out;
  text-align: center;
}

.navigation-list-link-current:link,
.navigation-list-link:hover,
.navigation-list-link:active {
  color: var(--color-primary);
  font-weight: 800;
}

/* Section hero Styles */
/************************/

.hero {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../resources/hero-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  align-items: center;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 50rem;
  justify-content: center;
  padding: 5rem;
}

.hero-heading {
  color: var(--color-white);
  font-size: 6.5rem;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.hero-paragraph {
  color: var(--color-white);
  max-width: 67rem;
  text-align: center;
}

.hero-form {
  align-items: center;
  background: #ffffff4d;
  border-radius: 8px;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 2rem;
}

.hero-form-container {
  border-radius: 0.5rem;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.hero-form-where,
.hero-form-when,
.hero-form-type {
  border-radius: 0.5rem;
  border: 0;
  color: var(--color-dark);
  line-height: normal;
  outline: 0;
  padding: 1.6rem 2rem;
  text-align: left;
}

.hero-form-btn {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 1rem;
  justify-content: center;
  line-height: normal;
  padding: 1.6rem 2rem;
  text-align: center;
  transition: all 0.1s ease-out;
}

.hero-form-btn:hover {
  background-color: #be4b12;
}

/* Section video tour Styles */
/************************/

.section-popular {
  margin-bottom: 10rem;
}

.popular {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.popular__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.popular__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.popular__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 3rem;
}

.popular__right {
  width: 50%;
}

.popular__img {
  width: 100%;
}

/* Section destinations Styles */
/************************/

.section-destination {
  margin-bottom: 10rem;
}

.destination {
  text-align: center;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  align-items: center;
}

.destination__gallery {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 25rem);
  gap: 2.4rem;
}

.destination__place {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  height: 25rem;
  width: 100%;
}

.destination__name {
  color: var(--color-white);
  font-size: 2.4rem;
}

.destination__place--1 {
  background: url("../resources/maldives.png");
  grid-column: 1 / 6;
}

.destination__place--2 {
  background: url("../resources/indonesia.png");
  grid-column: 6 / 11;
}

.destination__place--3 {
  background: url("../resources/srilanka.png");
  grid-column: 1 / 4;
}

.destination__place--4 {
  background: url("../resources/north-america.png");
  grid-column: 4 / 8;
}

.destination__place--5 {
  background: url("../resources/kashmir.png");
  grid-column: 8 / 11;
}

.destination__place--6 {
  background: url("../resources/khagrachori.png");
  grid-column: 1 / 6;
}

.destination__place--7 {
  background: url("../resources/bandorban.png");
  grid-column: 6 / span 1;
}

/* Section services Styles */
/************************/

.section-services {
  margin-bottom: 10rem;
}
.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.services__card-container {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4.8rem;
}

.services__card {
  background-color: hsla(0, 7%, 86%, 0.3);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem;
}

.services__card--1 {
  grid-column: 1/3;
}

.services__card--2 {
  grid-column: 3/6;
}

.services__card--3 {
  grid-column: 2/4;
}

.services__icon {
  color: var(--color-primary);
  font-size: 4rem;
}

.heading-secondary {
  color: var(--color-dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

/* Section discount Styles */
/************************/

.section-discount {
  margin-bottom: 10rem;
}

.discount {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.deals-container {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.deals__card-container {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  display: flex;
  border-radius: 1.6rem;
}

.deals__card-container-right {
  background: url("../resources/deal-bg-1.png");
  justify-content: flex-end;
}

.deals__card-container-left {
  background: url("../resources/deal-bg-2.png");
  justify-content: flex-start;
}

.deals__card {
  background-color: #ffffffc3;
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 1.5rem;
}

.deals__icons-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.deals__icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.deals__icon {
  color: var(--color-primary);
}

.deals__paragraph {
}

.deals__price {
  color: var(--color-primary);
  font-weight: 800;
  font-size: 2rem;
}

/* Section video Styles */
/************************/

.section-video {
  margin-bottom: 10rem;
}

.video {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.video__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.video__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.video__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 3rem;
}

.video__right {
  width: 50%;
}

.video__content {
  border-radius: 1.5rem;
  width: 100%;
}

/* Section newsletter Styles */
/************************/

.section-newsletter {
  margin-bottom: 10rem;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.newsletter__card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
  border: 1px solid var(--color-primary);
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.newsletter__input {
  border-radius: 0.5rem;
  border: 0;
  color: var(--color-dark);
  background-color: #ccc6c6;
  line-height: normal;
  outline: 0;
  padding: 1.6rem 1rem;
  text-align: left;
}

.newsletter__btn {
  align-self: stretch;
}

.newsletter__img-container {
  width: 55%;
  position: relative;
  background-image: url("../resources/newsletter.png");
  height: 42rem;
  border-radius: 1.5rem;
}

.newsletter__img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.newsletter__tag {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: absolute;
  border-radius: 1.5rem;
  padding: 1.5rem 4.8rem;
  right: 2rem;
  bottom: 7rem;
  transform: rotate(-30deg);
}
